html,
body {
  background-color: #f4f4f4;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 0 auto;
}

.masthead {
  background-color: #ffffff;
  }

.navigation {
 text-align: center;
}

.nav li {
  position: relative;
}

.nav .current::after {
  bottom: -.5em;
  left: 50%;
  position: absolute;
  width: .3em;
  height: .3em;

  border-radius: 50%;
  transform: translateX(-50%);

  content: " ";
}

.footer {
  background-color: #ffffff;
  text-align: center;
  flex-shrink: 0;
}

h1,
h2 {
  font-family: 'Archivo Black', sans-serif;
  color: #dcd0c0;
}

a {
  font-family: 'Archivo Narrow', sans-serif;
  color: #c0b283;
  text-decoration: none;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
    padding: 2px 16px;
}

p,
span {
  font-family: 'Archivo Narrow', sans-serif;
  color: #373737;
}

.highlight {
  color: #c0b283;
}

figure {
  float: right;
  width: 100%;
  text-align: left;
  text-indent: 0;
  margin: 0.5em;
  padding: 0.5em;
}

.container {
  position: relative;
}

@media only screen and (min-width: 38em) {

  .masthead {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

}

@media only screen and (min-width: 25em) {


}

@media screen and (max-width: 762px) {

  .giga {
    font-size: 5vw;
  }

  .tera {
    font-size: 6vw;
  }

  figure {
    float: right;
    width: 100%;
    text-align: left;
    text-indent: 0;
    margin: 0.5em;
    padding: 0.5em;
  }
}

@media screen and (max-width: 425px) {

  .giga {
    font-size: 10vw;
  }

  .tera {
    font-size: 11vw;
  }
}
