:root {
  --color-primary: #C0B283;
  --color-secondary: #DCD0C0;
  --color-text: #000000;
  --color-highlight: #F15025;
  --color-background: #FFFFFF;
  --color-shadow: #BFBFBF;

  --font-primary: "Raleway", sans-serif;
  --font-secondary: "Roboto Slab", serif;
}

html {
  font-family: var(--font-primary);
}
