.sticky-foot {
  background-color: var(--color-background);
  text-align: center;
  flex-shrink: 0;
}

.sticky-foot:before {
    content: "";
    display: block;
    margin: 0 auto;
    width: 90%;
    padding-bottom: 5px;
    border-top: 1px solid var(--color-primary);
}

.sc-icons {
  color: var(--color-text);
}

.sc-icons:hover {
  color: var(--color-highlight);
}

.sticky-foot p.micro {
  color: var(--color-text);
  padding-bottom: 1em;
}

.list-group-inline {
  padding-top: 1em;
}
