.sticky-foot {
  background-color: var(--color-secondary);
  text-align: center;
  flex-shrink: 0;
}

.sc-icons {
  color: var(--color-text);
}

.sc-icons:hover {
  color: var(--color-highlight);
}

.sticky-foot p.micro {
  color: var(--color-text);
  padding-bottom: 1em;
}

.list-group-inline {
  padding-top: 1em;
}
