.card-text {
  margin: 0;
  color: var(--color-background);
}

.container {
  position: relative;
  margin: 2em;
}

.text-block-bot-left {
  color: var(--color-text);
  position: absolute;
  bottom: .5em;
  left: .5em;
}
