<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>Ronin Tolentino</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" href="{{site.baseurl}}/css/modules.css">
  <link rel="stylesheet" href="{{site.baseurl}}/css/grids.css">
  <link rel="stylesheet" href="{{site.baseurl}}/css/type.css">
  <link rel="stylesheet" href="{{site.baseurl}}/css/main.css">
  <link href="https://fonts.googleapis.com/css?family=Archivo+Black|Archivo+Narrow|Montserrat" rel="stylesheet">
</head>
<body>

<div class="content">
  <header class="grid masthead">
    <div class="gutter-2 unit xs-1 s-1 m-1-2 l-1-2 xl-1-2">
      <a href="{{site.baseurl}}/index">
        <i class="icon i-128">
          <img src="{{site.baseurl}}/images/roninlogo.svg" alt="">
        </i>
      </a>
    </div>

    <nav class="unit xs-1 s-1 m-1-2 l-1-2 xl-1-2 pad-1-2 pad-b-1-2 giga navigation">
      <ul class="list-group-inline push-0">
        <li class="gutter-1-2"><a class="" href="{{site.baseurl}}/">Home</a></li>
        <li class="gutter-1-2"><a class="" href="{{site.baseurl}}/Work">Work</a></li>
        <li class="gutter-1-2"><a class="" href="{{site.baseurl}}/About">About</a></li>
        <li class="gutter-1-2"><a class="" href="{{site.baseurl}}/Contact">Contact</a></li>
      </ul>
    </nav>
  </header>

  <main>
    {{content}}
  </main>

</div>

  <footer class="footer">
    <p class="island-1-2 milli">© 2018 Jhon Tolentino</p>
  </footer>
</body>
</html>
