<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>Ronin Tolentino</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" href="{{site.baseurl}}/css/modules.css">
  <link rel="stylesheet" href="{{site.baseurl}}/css/grids.css">
  <link rel="stylesheet" href="{{site.baseurl}}/css/type.css">
  <link rel="stylesheet" href="{{site.baseurl}}/css/main.css">
  <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700|Raleway:500,700" rel="stylesheet">
</head>
<body>

<div class="content">
  <header>
    <nav>
      <a class="icon-header" href="{{site.baseurl}}/index">
        <img class="icon i-128" src="{{site.baseurl}}/images/roninlogo.svg" alt="">
      </a>
      <ul class="navigation">
        <li><a class="mega island-1-4" href="{{site.baseurl}}/"><b>HOME</b></a></li>
        <li><a class="mega island-1-4" href="{{site.baseurl}}/Work"><b>WORK</b></a></li>
        <li><a class="mega island-1-4" href="{{site.baseurl}}/About"><b>ABOUT</b></a></li>
        <li><a class="mega island-1-4" href="{{site.baseurl}}/Contact"><b>CONTACT</b></a></li>
      </ul>
    </nav>
  </header>

  <main class="web-content">
    {{content}}
  </main>

</div>

  <footer class="footer island-1-2">
    <p class="milli"><b>© 2018 Jhon Tolentino</b></p>
  </footer>
</body>
</html>
