<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>Ronin Tolentino</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" href="{{site.baseurl}}/css/modules.css">
  <link rel="stylesheet" href="{{site.baseurl}}/css/grids.css">
  <link rel="stylesheet" href="{{site.baseurl}}/css/type.css">
  <link rel="stylesheet" href="{{site.baseurl}}/css/main.css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Open+Sans:700" rel="stylesheet">
</head>
<body class="scroll">

  <header class="push">
    <i class="ib icon i-128">
      <img src="{{site.baseurl}}/images/roninlogo.svg" alt="">
    </i>
    <nav class="right ib nav pad-t-2 pad-b-2">
      <ul class="list-group-inline push-1-2">
        <li class="list-group-item"><a class="giga" href="{{site.baseurl}}/">Home</a></li>
        <li class="list-group-item"><a class="giga" href="{{site.baseurl}}/Work">Work</a></li>
        <li class="list-group-item"><a class="giga" href="{{site.baseurl}}/About">About</a></li>
        <li class="list-group-item"><a class="giga" href="{{site.baseurl}}/Contact">Contact</a></li>
      </ul>
    </nav>
  </header>

  <main>
    {{content}}
  </main>

  <footer class="">
    <p class="pad-t-1-2 pad-b-1">© 2018 Jhon Tolentino</p>
  </footer>
</body>
</html>
