.banner {
  background-color: var(--color-background);
}

.banner-title,
.hero-title {
  font-family: var(--font-secondary);
  color: var(--color-text);
}

.banner-subtitle {
  font-family: var(--font-secondary);
  color: var(--color-background-lightest);
}

.banner-info,
.hero-text {
  color: var(--color-text);
}

.highlight {
  color: var(--color-highlight);
}

@media only screen and (min-width: 25em) {

}

@media only screen and (min-width: 38em) {

}

@media only screen and (min-width: 60em) {

}
